################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CnslApp/bin/Debug/net7.0/CnslApp.deps.json
/CnslApp/bin/Debug/net7.0/CnslApp.dll
/CnslApp/bin/Debug/net7.0/CnslApp.pdb
*.dll
*.pdb
/PrsnLib/bin/Debug/net7.0/PrsnLib.dll
/PrsnLib/bin/Debug/net7.0/PrsnLib.pdb
/WPFApp/bin/Debug/net7.0-windows/PrsnLib.dll
/WPFApp/bin/Debug/net7.0-windows/PrsnLib.pdb
/WPFApp/bin/Debug/net7.0-windows/WPFApp.dll
/WPFApp/bin/Debug/net7.0-windows/WPFApp.pdb
# Build results
/**/[Bb]in/**/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
/**/[Ff]ileContentIndex/**/
/.vs/CnslApp/v17/.suo
/.vs/
/PrsnLib/bin/
/WPFApp/bin/
/CnslApp/bin/