################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CnslApp/bin/Debug/net7.0/CnslApp.deps.json
/CnslApp/bin/Debug/net7.0/CnslApp.dll
/CnslApp/bin/Debug/net7.0/CnslApp.pdb
*.dll
*.pdb
/PrsnLib/bin/Debug/net7.0/PrsnLib.dll
/PrsnLib/bin/Debug/net7.0/PrsnLib.pdb
/WPFApp/bin/Debug/net7.0-windows/PrsnLib.dll
/WPFApp/bin/Debug/net7.0-windows/PrsnLib.pdb
/WPFApp/bin/Debug/net7.0-windows/WPFApp.dll
/WPFApp/bin/Debug/net7.0-windows/WPFApp.pdb
# Build results
/**/[Bb]in/**/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
/**/[Ff]ileContentIndex/**/
/.vs/CnslApp/v17/.suo
/.vs/
/PrsnLib/bin/
/WPFApp/bin/
/CnslApp/bin/
/PrsnLib/obj/Debug/net7.0/PrsnLib.assets.cache
/PrsnLib/obj/project.nuget.cache
/CnslApp/obj/project.nuget.cache
/CnslApp/obj/Debug/net7.0/CnslApp.assets.cache
/.vs/CnslApp/DesignTimeBuild/.dtbcache.v2
/CnslApp/obj/Debug/net7.0/CnslApp.genruntimeconfig.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp.assets.cache
/WPFApp/obj/project.nuget.cache
/CnslApp/obj/Debug/net7.0/CnslApp.csproj.AssemblyReference.cache
/CnslApp/obj/Debug/net7.0/CnslApp.csproj.CoreCompileInputs.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp_MarkupCompile.i.cache
/.vs/CnslApp/v17/.futdcache.v2
/.vs/ProjectEvaluation/cnslapp.projects.v5.2
/CnslApp/obj/Debug/net7.0/CnslApp.csproj.FileListAbsolute.txt
/CnslApp/obj/Debug/net7.0/CnslApp.GeneratedMSBuildEditorConfig.editorconfig
/CnslApp/obj/Debug/net7.0/CnslApp.pdb
/CnslApp/obj/Debug/net7.0/CnslApp.dll
/CnslApp/obj/CnslApp.csproj.nuget.dgspec.json
/CnslApp/obj/project.assets.json
/PrsnLib/obj/Debug/net7.0/PrsnLib.GeneratedMSBuildEditorConfig.editorconfig
/WPFApp/obj/Debug/net7.0-windows/WPFApp.GeneratedMSBuildEditorConfig.editorconfig
/WPFApp/obj/Debug/net7.0-windows/MainWindow.g.i.cs
/WPFApp/obj/Debug/net7.0-windows/Window3.g.i.cs
/WPFApp/obj/Debug/net7.0-windows/Window1.g.i.cs
/WPFApp/obj/Debug/net7.0-windows/Window2.g.i.cs
/WPFApp/obj/project.assets.json
/WPFApp/obj/WPFApp.csproj.nuget.dgspec.json
/PrsnLib/obj/PrsnLib.csproj.nuget.dgspec.json
/PrsnLib/obj/project.assets.json
/CnslApp/obj/Debug/net7.0/CnslApp.GeneratedMSBuildEditorConfig.editorconfig
/CnslApp/obj/Debug/net7.0/CnslApp.dll
/PrsnLib/obj/Debug/net7.0/PrsnLib.csproj.FileListAbsolute.txt
/PrsnLib/obj/Debug/net7.0/PrsnLib.pdb
/PrsnLib/obj/Debug/net7.0/PrsnLib.dll
/WPFApp/obj/Debug/net7.0-windows/WPFApp.csproj.AssemblyReference.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp.csproj.CoreCompileInputs.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp.csproj.FileListAbsolute.txt
/WPFApp/obj/Debug/net7.0-windows/WPFApp.dll
/WPFApp/obj/Debug/net7.0-windows/WPFApp.genruntimeconfig.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp.pdb
/WPFApp/obj/Debug/net7.0-windows/WPFApp_MarkupCompile.cache
/WPFApp/obj/Debug/net7.0-windows/WPFApp_MarkupCompile.lref
/WPFApp/obj/
/CnslApp/obj/
/PrsnLib/obj/